* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HK Grotesk", "SF UI Display", Times, serif;
  text-decoration: none;
}

body {
  background-color: #f9f9fd;
}

/* Hero banner */

.q-hero {
  background-color: #151b2b;
  width: 100vw;
  height: 926px;
  padding-top: 41px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-container {
  margin: 0 165px;
}

.hero-logo img {
  width: 158px;
  margin-top: 10px;
}

.hero-text {
  width: 500px;
  height: 304px;
  margin: 20px 21px 140px;
}

#github-star {
  width: 85px;
  margin-left: 23px;
}

.hero-text h1 {
  font-family: "HK Grotesk";
  font-weight: bold;
  font-size: 46px;
  color: white;
  margin-bottom: 24px;
}

.hero-headline {
  font-family: "HK Grotesk";
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 24px;
}

.hero-summary {
  font-family: "SF UI Display";
  font-weight: 300;
  font-size: 16px;
  color: #8686b3;
  margin-bottom: 48px;
  width: 488px;
}

.hero-cta {
  display: flex;
  gap: 24px;
}

.git-btn img {
  margin-right: 7px;
}

.discord-btn img {
  margin-right: 7px;
}

.hero-cta a {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

.git-btn {
  display: flex;
  align-items: center;
  padding: 9px 16px;
  width: 157px;
  height: 39px;
  background: #454658;
  border-radius: 3px;
}

.discord-btn {
  display: flex;
  align-items: center;
  padding: 9px 16px;
  width: 181px;
  height: 39px;
  background: #6578c0;
  border-radius: 3px;
}

/* How section */

.q-how {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 96px;
  width: 904px;
}

.q-how h1 {
  font-family: "HK Grotesk";
  font-weight: 700;
  font-size: 32px;
  color: #454658;
}

.q-how p {
  font-family: "SF UI Display";
  font-weight: 300;
  font-size: 16px;
  color: #454658;
  padding: 24px;
  text-align: center;
}

.how-illu {
  margin-bottom: 186px;
}

/* Usage */

.q-usage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head {
  background: url(/assets/svg/how-section/usage-illu.svg);
  background-size: 110%;
  background-position: revert;
}

.q-usage h1 {
  font-family: "HK Grotesk";
  font-weight: 700;
  font-size: 32px;
  color: #454658;
  text-align: center;
  margin-bottom: 17px;
}

.q-usage p {
  font-family: "SF UI Display";
  font-weight: 300;
  font-size: 16px;
  color: #454658;
  margin-bottom: 100px;
  text-align: center;
}

.q-code img {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.usage-cta {
  display: flex;
  gap: 24px;
  padding-top: 48px;
  margin-bottom: 110px;
}

.usage-cta a {
  font-family: "SF UI Display";
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

.usage-cta .git-btn {
  width: 193px;
}

/* botton Illu */

.top-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1059px;
  height: 463px;
  margin: 0 auto 63px;
}

.q-illu-box h1 {
  font-family: "HK Grotesk";
  font-weight: 700;
  font-size: 24px;
  color: #454658;
  margin-top: 24px;
}

.q-illu-box p {
  font-family: "SF UI Display";
  font-weight: 300;
  font-size: 16px;
  color: #454658;
  margin: 24px 0 12px;
}

.q-illu-box span {
  font-family: "SF UI Display";
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #5d64d2;
}

.right-illu {
  display: flex;
  flex-direction: column;
  width: 408px;
}

.right-illu img {
  width: 156px;
}

.left-illu {
  display: flex;
  flex-direction: column;
  width: 408px;
}

.left-illu img {
  width: 305px;
}

.bot-box {
  display: flex;
  justify-content: space-between;
  width: 1059px;
  height: 479px;
  margin: auto;
}

.bot-right-illu {
  display: flex;
  flex-direction: column;
  width: 428px;
}

.bot-right-illu img {
  width: 262px;
}

.bot-left-illu {
  display: flex;
  flex-direction: column;
  width: 428px;
}

.bot-left-illu img {
  width: 421px;
}

/* Footer */

.footer-text h1 {
  width: 343px;
  font-family: "HK Grotesk";
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #454658;
  margin: 191px auto 158px;
}

.footer-bg {
  width: 100vw;
  height: 169px;
  background-color: #151b2b;
}
